<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wall Painting</title>
	  <link href="assets/img/logo.png" rel="icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
  <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="./assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/home.css">
	<link rel="stylesheet" href="./assets/css/about.css">
</head>
<body>
<header id="header" class="fixed-top " style="background:rgba(0, 0, 100, 0.9);">
    <div class="container d-flex align-items-center justify-content-lg-between navbar_div">

      <h1 class="logo me-auto me-lg-0"><a href="/" id="brand-name">Techies..</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" style="border-radius: 50%;" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li class="dropdown"><a class="active" href="/#services"><span>Servies</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/web_software">Web Design Development</a></li>
              <li><a href="/web_software">Software Development</a></li>
              <li><a href="/wall_painting">Wall Paintig</a></li>
              <li><a href="/hardware_maintainece">Hardware Maintenace</a></li>
              <li><a href="/graphic_design">Graphic Design</a></li>
              <li><a href="/cctv">CCTV Setup</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>


<!-- Slider -->
<div class="container" style="margin-top: 140px;" data-aos="fade-down" data-aos-easing="linear"
     data-aos-duration="1000">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
      <div class="item active">
        <img src="./assets/img/slider1.png" alt="Los Angeles" style="width:100%;height: 300px;">
      </div>

      <div class="item">
        <img src="./assets/img/slider2.png" alt="Chicago" style="width:100%;height: 300px;">
      </div>
    
      <div class="item">
        <img src="./assets/img/slider3 (2).png" alt="New york" style="width:100%;height: 300px;">
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- Servies -->
<div class="servies_div" >
	<h1 >O<span id="about_content"></span></h1>
</div>
<div class="servies_card_div">
	<div class="servies_card" data-aos="fade-left" data-aos-easing="linear"
     data-aos-duration="1000">
		<img src="./assets/img/web.png">
		<H1>Wall Painting</H1>
		<P>Paint Any Wall Of Scholl Or College We Are Help You With Our Expert Team Members.</P>
	</div>
</div>

<!-- Gallary -->

<div class="servies_div">
	<h1>O<span id="gallary_content"></span></h1>
</div>
<div class="gallary_div">

	<img src="./assets/img/about.jpg" data-aos="flip-left" data-aos-easing="linear"
     data-aos-duration="1000">
	<img src="./assets/img/about.jpg" data-aos="flip-right" data-aos-easing="linear"
     data-aos-duration="1000">
	<img src="./assets/img/about.jpg" data-aos="flip-left" data-aos-easing="linear"
     data-aos-duration="1000">
</div>

<!-- Footer -->

<script src="./assets/vendor/purecounter/purecounter.js"></script>
  <!-- <script src="assets/vendor/aos/aos.js"></script> -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/js/typed.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="./assets/js/about.js"></script>
</body>
</html>