.counter_div
{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.counter
{
	display: flex;
	flex-direction: column;
	width: auto;
	height: 60px;
	margin-top: 20px;
	
	color: white;

}